// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

#fondo-cafe {
    background-image: url("../img/fondo-cafe.jpg");
}

$font-family-sans-serif: "ivyepic-variable", sans-serif;
$font-family-monospace: "ivyepic-variable", monospace;

$font-weight-base: 000;

.drop_shadow{
  filter: drop-shadow(0 0 25px rgba(230, 176, 77, 0.534));
}

.noVisible{
  display: none;

}

.visible{
  display: block;
}

.container {
    max-width: 960px;
}
.icon-link > .bi {
    width: .75em;
    height: .75em;
  }
  
  /*
   * Custom translucent site header
   */
   .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
   
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  
  .text-brown{
    color: #360808;
  }

  .text-brown-light{
    color: #F2B366;
  }

  .text-light-coffee{
    color: #f7f3f0;
  
}

  .bg-light-coffee{
    background-color: #f7f3f0;

  }

  .bg-coffee{
    background-color: #360808;
  
  }

@import "../node_modules/bootstrap/scss/bootstrap";